<div id='id1' > </div>

<head>
     <meta http-equiv="Content-Type"content="text/html"charset="utf-8">
     <link href="./css_estilos/estilo_01.css"rel="stylesheet"type="text/css"> 
</head>
<body>
     <img src="./css_estilos/JSLogoFondoClaro.png" style="float: right" width="250" height="230">
     <h1> <b> Generalidades: </b> <br> Análisis Exploratorio de Datos</h1>
     <p> Los archivos fuentes utilizados en el proyecto fueron recuperados de la base de datos suministrada por el Consejo Nacional de Calidad de la Educación (<b>CNCE</b>): <p>
     <ul>
          <li> <b> <p> 
          Facultad Latinoamericana de Ciencias Sociales (FLACSO)
          </b>. </p> </li>
          <li> <b> <p> 
          Universidad Argentina John Fitzgerald Kennedy (UK)
          </b>. </p> </li>
          </b> </p> </li>
     </ul> 
</body>

---

<div id='id2' > </div>

<head>
     <meta http-equiv="Content-Type"content="text/html"charset="utf-8">
     <link href="./css_estilos/estilo_01.css"rel="stylesheet"type="text/css"> 
</head>
<body>
     <h1> <b> Características Preliminares de las Fuentes de Datos </b> <br> </h1>
     <p>
     Los datasets disponibles corresponden ha información compartida por el CNCE de más de 15
     universidades y centros educativos con gran volumen de datos sensibles sobre las
     inscripciones de alumnos.<br>
     <br>
     Se deben aplicar las siguientes transformaciones a los features indicados correspondientes a cada dataframe.
          <ul>
          <li> <b> <p> 
          career
          </b>: str minúsculas, sin espacios extras, ni guiones. </p> </li>
          <li> <b> <p> 
          inscription_date
          </b>: str %Y-%m-%d format. </p> </li>
          <li> <b> <p> 
          first_name
          </b>: str minúscula y sin espacios, ni guiones. </p> </li>
          <li> <b> <p> 
          last_name
          </b>: str minúscula y sin espacios, ni guiones. </p> </li>
          <li> <b> <p> 
          gender
          </b>: str choice(male, female). </p> </li>
          <li> <b> <p> 
          age
          </b>: int. </p> </li>
          <li> <b> <p> 
          postal_code
          </b>: str. </p> </li>
          <li> <b> <p> 
          location
          </b>: str minúscula sin espacios extras, ni guiones. </p> </li>
          <li> <b> <p> 
          email
          </b>: str minúsculas, sin espacios extras, ni guiones. </p> </li>
          <li> <b> <p> 
          career
          </b>: str minúsculas, sin espacios extras, ni guiones. </p> </li>
          </ul>
     </p>
</body>

---

<div id='id3' > </div>

<head>
     <meta http-equiv="Content-Type"content="text/html"charset="utf-8">
     <link href="./css_estilos/estilo_01.css"rel="stylesheet"type="text/css"> 
</head>
<body>
     <h1> <b> Imoportación de la Librerías Requeridas </b> <br> </h1>
</body>

In [57]:
# Importamos las librerias necesarias
import pandas as pd

---

<div id='id5' > </div>

<head>
     <meta http-equiv="Content-Type"content="text/html"charset="utf-8">
     <link href="./css_estilos/estilo_01.css"rel="stylesheet"type="text/css"> 
</head>
<body>
     <h1> <b> Carga de los Datos en Dataframes </b> <br> </h1>
</body>

In [58]:
# Instanciamos los dataframes
"""Facultad Latinoamericana de Ciencias Sociales"""
file_path01 = "./data/files/lat_social_uni/2022-09/lat_social_uni-04-09-2022.csv"
sep01 = ","
enc01 = "utf-8"
df01 = pd.read_csv(filepath_or_buffer=file_path01,
                   sep=sep01,
                   encoding=enc01)

"""Universidad Argentina John Fitzgerald Kennedy"""
file_path02 = "./data/files/jfk_uni/2022-09/jfk_uni-04-09-2022.csv"
sep02 = ","
enc02 = "utf-8"
df02 = pd.read_csv(filepath_or_buffer=file_path02,
                   sep=sep02,
                   encoding=enc02)

"""Código postal"""
file_path03 = "./data/files/codigos_postales.csv"
sep03 = ","
enc03 = "utf-8"
df03 = pd.read_csv(filepath_or_buffer = file_path03, 
                 sep = sep03, 
                 encoding = enc03)

---

<div id='id6' > </div>

<head>
     <meta http-equiv="Content-Type"content="text/html"charset="utf-8">
     <link href="./css_estilos/estilo_01.css"rel="stylesheet"type="text/css"> 
</head>
<body>
     <h2> <b> Fuente de Datos</b>: FLACSO </h2>
</body>

In [ ]:
# Visualizamos preliminarmente el dataframe
df01.head()

<head>
     <meta http-equiv="Content-Type"content="text/html"charset="utf-8">
     <link href="./css_estilos/estilo_01.css"rel="stylesheet"type="text/css"> 
</head>
<body>
     <h3> <b> Identificación de los Tipos de Datos </b> </h3>
</body>

In [ ]:
# Visualizamos las columnas del dataframe y sus tipos de datos
df01.info()

<head>
     <meta http-equiv="Content-Type"content="text/html"charset="utf-8">
     <link href="./css_estilos/estilo_01.css"rel="stylesheet"type="text/css"> 
</head>
<body>
     <h3> <b> Transformación de los Features </b> </h3>
</body>

In [ ]:
# university: str minúsculas, sin espacios extras, ni guiones
df01["university"] = df01["university"].str.lower()
df01["university"] = df01["university"].str.replace(pat = "-",
                                                    repl = " ")

In [ ]:
# career: str minúsculas, sin espacios extras, ni guiones
df01["career"] = df01["career"].str.lower()
df01["career"] = df01["career"].str.replace(pat = "-",
                                            repl = " ")

In [ ]:
# inscription_date:  str %Y-%m-%d format
df01["inscription_date"] = pd.to_datetime(df01.inscription_date, 
                                          format='%Y-%m-%d')

In [ ]:
# first_name: str minúscula y sin espacios, ni guiones
df01["first_name"] = df01["first_name"].str.lower()
df01["first_name"] = df01["first_name"].str.replace(pat = "-",
                                                    repl = " ")

In [ ]:
# last_name: str minúscula y sin espacios, ni guiones
df01["last_name"] = df01["first_name"].str.lower()
df01["last_name"] = df01["last_name"].str.replace(pat = "-",
                                                  repl = " ")

In [ ]:
# gender: str choice(male, female)
## gender M a memale 
df01["gender"].loc[df01["gender"] == "M"] = "male"
## gender F a female 
df01["gender"].loc[df01["gender"] == "F"] = "female"

In [ ]:
# age: int
df01["age"] = df01["age"].str.replace(pat = "days", 
                                      repl = "").astype("int")
df01["age"] = (df01["age"] / (365)).astype(dtype = "int")

In [ ]:
"""Facultad Latinoamericana de Ciencias Sociales"""
# postal_code: str
renamed_columns = {
                    "localidad":"location"
                    }

df03.rename(columns = renamed_columns, 
            inplace = True)

# Reemplazamos los guiones por espacios
df01["location"] = df01["location"].str.replace(pat = "-",
                                                repl = " ")

# Mergeamos los df's
lft = df01
rght = df03
join = "inner"
column_name = "location"

df01 = pd.merge(left = lft, 
                right = rght, 
                how = join, 
                on = column_name)

# Reordenamos las columnas del df meregeado
columns = [
            "university", 
            "career", 
            "inscription_date", 
            "first_name", 
            "last_name", 
            "gender", 
            "age", 
            "codigo_postal", 
            "location", 
            "email"
            ]

df01 = df01.reindex(columns = columns)

# Renombramos las columnas de df mergeado
renamed_columns = {
                    "codigo_postal":"postal_code"
                    }
df01.rename(columns = renamed_columns, inplace = True)
df01["postal_code"] = df01["postal_code"].astype(dtype = "int")

# Location: str minúscula sin espacios extras, ni guiones
df01["location"] = df01["location"].str.lower()

In [ ]:
# Email: str minúsculas, sin espacios extras, ni guiones
df01["email"] = df01["email"].str.lower()

In [ ]:
# Visualizamos preliminarmente el dataframe
df01.head(70)

---

<div id='id6' > </div>

<head>
     <meta http-equiv="Content-Type"content="text/html"charset="utf-8">
     <link href="./css_estilos/estilo_01.css"rel="stylesheet"type="text/css"> 
</head>
<body>
     <h2> <b> Fuente de Datos</b>: UK </h2>
</body>

In [59]:
# Visualizamos preliminarmente el dataframe
df02.head()

,university,career,inscription_date,first_name,last_name,gender,age,postal_code,location,email
0,universidad-j.-f.-kennedy,ingeniería-mecánica,2021-01-19,nancy,underwood,f,16889 days,4139,"2173-joanne-groves\nmartinland,-ri-40658",mcdonaldjulia@yahoo.com
1,universidad-j.-f.-kennedy,actuario-,2020-10-15,james,kelly,m,-16858 days,3176,"312-powers-rapids-apt.-557\ngreenfort,-ks-38676",contrerasstephen@yahoo.com
2,universidad-j.-f.-kennedy,diseño-de-imagen-y-sonido,2021-01-22,jaime,crawford,f,16740 days,7612,"98306-kevin-port-suite-279\nnew-denisemouth,-o...",martin59@yahoo.com
3,universidad-j.-f.-kennedy,actuario-,2020-10-06,matthew,ballard,m,1312 days,7401,unit-5743-box-5761\ndpo-ae-17758,jamesguerra@yahoo.com
4,universidad-j.-f.-kennedy,arquitectura,2020-10-19,tiffany,harris,f,-10206 days,5471,"04779-sharon-extension\nchristophermouth,-mo-3...",simmonsderek@yahoo.com

<head>
     <meta http-equiv="Content-Type"content="text/html"charset="utf-8">
     <link href="./css_estilos/estilo_01.css"rel="stylesheet"type="text/css"> 
</head>
<body>
     <h3> <b> Identificación de los Tipos de Datos </b> </h3>
</body>

In [60]:
# Visualizamos las columnas del dataframe y sus tipos de datos
df02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1816 entries, 0 to 1815
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   university        1816 non-null   object
 1   career            1816 non-null   object
 2   inscription_date  1816 non-null   object
 3   first_name        1816 non-null   object
 4   last_name         1816 non-null   object
 5   gender            1816 non-null   object
 6   age               1816 non-null   object
 7   postal_code       1816 non-null   int64
 8   location          1816 non-null   object
 9   email             1816 non-null   object
dtypes: int64(1), object(9)
memory usage: 142.0+ KB

<head>
     <meta http-equiv="Content-Type"content="text/html"charset="utf-8">
     <link href="./css_estilos/estilo_01.css"rel="stylesheet"type="text/css"> 
</head>
<body>
     <h3> <b> Transformación de los Features </b> </h3>
</body>

In [61]:
# university: str minúsculas, sin espacios extras, ni guiones
df02["university"] = df02["university"].str.lower()
df02["university"] = df02["university"].str.replace(pat = "-",
                                                    repl = " ")

In [62]:
# career: str minúsculas, sin espacios extras, ni guiones
df02["career"] = df02["career"].str.lower()
df02["career"] = df02["career"].str.replace(pat = "-",
                                            repl = " ")

In [63]:
# inscription_date:  str %Y-%m-%d format
df02["inscription_date"] = pd.to_datetime(df02.inscription_date, 
                                          format='%Y-%m-%d')

In [64]:
# first_name: str minúscula y sin espacios, ni guiones
df02["first_name"] = df02["first_name"].str.lower()
df02["first_name"] = df02["first_name"].str.replace(pat = "-",
                                                    repl = " ")

In [65]:
# last_name: str minúscula y sin espacios, ni guiones
df02["last_name"] = df02["first_name"].str.lower()
df02["last_name"] = df02["last_name"].str.replace(pat = "-",
                                                  repl = " ")

In [66]:
# gender: str choice(male, female)
## gender m a memale 
df02["gender"].loc[df02["gender"] == "m"] = "male"
## gender f a female 
df02["gender"].loc[df02["gender"] == "f"] = "female"

/tmp/ipykernel_8103/3469563729.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02["gender"].loc[df02["gender"] == "m"] = "male"
/tmp/ipykernel_8103/3469563729.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02["gender"].loc[df02["gender"] == "f"] = "female"

In [67]:
# age: int
df02["age"] = df02["age"].str.replace(pat = "days", 
                                      repl = "").astype("int")
df02["age"] = (df02["age"] / (365)).astype(dtype = "int")

In [68]:
"""Universidad Argentina John Fitzgerald Kennedy"""
# postal_code: str
# Renombramos la columna de df02, para que exista coincidencia al hacer hacer "merge"

renamed_columns = {
                    "codigo_postal":"postal_code"
                    }
df03.rename(columns = renamed_columns, 
            inplace = True)

# Mergeamos los df's
lft = df02
rght = df03
join = "inner"
column_name = "postal_code"

df02 = pd.merge(left = lft, 
                right = rght, 
                how = join, 
                on = column_name)

# Reordenamos las columnas del df meregeado
columns = [
            "university", 
            "career", 
            "inscription_date", 
            "first_name", 
            "last_name", 
            "gender", 
            "age", 
            "postal_code", 
            "localidad", 
            "email"
            ]

df02 = df02.reindex(columns = columns)

# Renombramos las columnas de df mergeado
renamed_columns = {
                    "localidad":"location"
                    }

df02.rename(columns = renamed_columns, inplace = True)
df02["postal_code"] = df02["postal_code"].astype(dtype = "int")

# location: str minúscula sin espacios extras, ni guiones
df02["location"] = df02["location"].str.lower()

In [69]:
# email: str minúsculas, sin espacios extras, ni guiones
df02["email"] = df02["email"].str.lower()

In [70]:
# Visualizamos preliminarmente el dataframe
df02.head(70)

,university,career,inscription_date,first_name,last_name,gender,age,postal_code,location,email
0,universidad j. f. kennedy,ingeniería mecánica,2021-01-19,nancy,nancy,female,46,4139,agua amarilla la hoyada,mcdonaldjulia@yahoo.com
1,universidad j. f. kennedy,licenciatura en ciencias de la educación,2020-12-29,janet,janet,female,29,4139,agua amarilla la hoyada,amber49@yahoo.com
2,universidad j. f. kennedy,licenciatura en ciencias biológicas,2020-12-15,elizabeth,elizabeth,female,22,4139,agua amarilla la hoyada,kellyrobbins@gmail.com
3,universidad j. f. kennedy,licenciatura en administración,2021-01-29,taylor,taylor,female,22,4139,agua amarilla la hoyada,gonzalesdavid@yahoo.com
4,universidad j. f. kennedy,ingeniería mecánica,2020-12-21,danielle,danielle,female,47,4139,agua amarilla la hoyada,daniel46@hotmail.com
...,...,...,...,...,...,...,...,...,...,...
65,universidad j. f. kennedy,diseño industrial,2021-01-25,randy,randy,male,44,8520,aguada del loro,terrilewis@hotmail.com
66,universidad j. f. kennedy,farmacia,2020-09-30,joseph,joseph,male,-21,1838,luis guillon,xcampbell@yahoo.com
67,universidad j. f. kennedy,técnico para bioterios,2020-11-07,kevin,kevin,male,-20,1838,luis guillon,pdaniels@yahoo.com
68,universidad j. f. kennedy,diseño de imagen y sonido,2020-09-27,steven,steven,male,25,5313,estacion mazan,kirbymatthew@hotmail.com
69,universidad j. f. kennedy,licenciatura en administración,2020-12-20,jane,jane,female,2,5575,andrade,jeremy05@yahoo.com

---